.container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo_container {
    display: flex;
    align-items: center;
    text-decoration: none;

    .img_logo {
      height: 54px;
    }

    .text_logo {
      margin-left: 3px;
      color: var(--main-color);
      font-family: "TmonMonsori";
      font-size: 24px;
    }
  }

  .form_container {
    margin-top: 100px;
    width: 300px;

    .title {
      font-size: xx-large;
      font-weight: bolder;
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 12px;

      .id_group {
        .id {
          height: 45px;
        }
      }

      .pw_group {
        .pw {
          height: 45px;
        }
      }

      .login_button {
        height: 45px;
      }

      .kakao_login {
        width: 100%;
      }

      .signup {
        display: flex;
        justify-content: space-between;

        .signup_button {
          text-decoration: none;
        }
      }
    }
  }
}