#container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top {
    display: flex;
    justify-content: space-around;
  }

  .store_edit_button_link{
  }
  .store_show_button {
    // width: 100%;
  }
  .store_edit_button {
    // width: 100%;
  }

  .list_container {
    padding-top: 20px;
  }

  .list_item{
    display: flex;
    justify-content: space-between;
  }
}