.overlay {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  z-index: 999;
  left: 0;
}

.menu {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 280px;
  transition: 0.4s ease;
  background-color: white;
  z-index: 1000;
}