.except_wrapper {
  margin: 20px 20px;
}

.button_wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
}

.except_plus_icon {
  margin-right: 5px;
}

.except_item_container {}

.switch_trash_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.switch {
  margin-bottom: 0;
}

.trash {
  padding: 0;
  border: none;
  background-color: #ffffff00;
}

.form_wrapper {}

.date_wrapper {}

.input_group {
  margin: 10px 0px;
}