.container {
  margin: 20px;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.plus_button_wrapper {
  margin-top: 20px;
}

.plus_button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.plus_icon {
  margin-right: 5px;
}

.link {
  text-decoration: none;
  color: black;
}

.link_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.image_wrapper {
  flex: 0 0 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.image_wrapper_alt {
  background-color: rgb(230, 230, 230);
}

.image_alt {
  opacity: 50%;
}

.content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.menu_title_description {}

.menu_title {
  font-size: 20px;
  font-weight: bold;
}

.menu_description {
  font-size: 14px;
  color: gray;

  // \n 줄바꿈 처리
  white-space: pre-line;

  // 두줄 이상 ... 처리
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.menu_price {
  font-size: 16px;
  font-weight: bold;
}