.container {
  padding-top: 20px;

  .title {
    margin: 10px 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .except_wrapper {
    margin: 20px 20px;

    .except_plus_button {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .except_plus_icon {
        margin-right: 5px;
      }
    }

    .except_item_container {

      .allday_form_wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .allday_trash_wrapper {
        display: flex;
        align-items: center;

        .allday_trash {
          padding: 0;
          border: none;
          background-color: #ffffff00;
        }
      }

      .partday_form_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;

        .partday_form_wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
        }

        .partday_trash_wrapper {
          display: flex;
          align-items: center;

          .partday_trash {
            padding: 0;
            border: none;
            background-color: #ffffff00;
          }
        }
      }

    }
  }
}