.title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.buttongroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.button {
  height: 60px
}