.container {
  padding: 20px 20px;

  .title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .textarea {
    resize: none;
    margin-bottom: 20px;
  }

  .button {
    width: 100%;
  }
}