.tag_container {
  white-space: nowrap;
  padding: 3px 10px;

  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;

  font-size: 12px;
  color: gray;
  word-break: keep-all;

  width: fit-content;
}