.container {

  .state_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .state {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .state_detail {
      font-size: 14px;
      color: gray;
      word-break: keep-all;
      text-align: center;
    }
  }

  .info_container {
    padding: 20px;
    background-color: rgb(240, 240, 240);

    .title {
      font-weight: bold;
      border-radius: 15px 15px 0px 0px;
    }

    .detail {
      border-radius: 0px 0px 15px 15px;
    }

    .list {
      border-color: lightgray;

      .head {
        font-size: 14px;
        width: 75px;
      }

      .content {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0px;
        word-break: keep-all;
      }
    }
  }

  .button_container {
    margin-top: 20px;
    text-align: center;

    .button {
      border-radius: 30px;
      padding: 8px 40px;
      margin: 0px 5px;
    }
  }
}